<app-menu (carritoClicked)="toggleCarrito()"></app-menu>

<app-carrito *ngIf="carritoVisible" (closeCarrito)="closeCarrito()"></app-carrito>

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card form-card shadow p-4">
    <h2 class="text-center">{{titulo}}</h2>
    <form [formGroup]="formLogin" (ngSubmit)="iniciarSesion()">
      <div class="mt-3">
        <div class="mb-3">
          <label class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" id="email" formControlName="email">
          <div *ngIf="enviado && formLogin.get('email')?.invalid">
            <small class="mensaje-validacion" *ngIf="formLogin.get('email')?.errors?.['required']">Este campo es obligatorio.</small>
            <small class="mensaje-validacion" *ngIf="formLogin.get('email')?.errors?.['email']">Formato de correo no válido.</small>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="contrasena" formControlName="contrasena">
          <div *ngIf="enviado && formLogin.get('contrasena')?.invalid">
            <small class="mensaje-validacion" *ngIf="formLogin.get('contrasena')?.errors?.['required']">Este campo es obligatorio.</small>
            <small class="mensaje-validacion" *ngIf="formLogin.get('contrasena')?.errors?.['minLength']">Debe tener al menos 6 caracteres.</small>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
      </div>
      <div class="mt-3 text-center">
        <a routerLink="/registro">¿No tienes una cuenta? Regístrate</a><br>
        <a routerLink="/recuperar-contrasena">¿Olvidaste tu contraseña?</a>
      </div>
      <div *ngIf="loginError" class="mt-3 text-center">
        <small class="text-danger">{{ loginError }}</small>
      </div>
    </form>
  </div>
</div>
