<h4 class="mt-4 text-center" mat-dialog-title>Editar Usuario</h4>
<div mat-dialog-content class="edit-user-dialog-content">
  <form [formGroup]="form" class="edit-user-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Apellido Paterno</mat-label>
      <input matInput formControlName="apellidoPaterno">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Apellido Materno</mat-label>
      <input matInput formControlName="apellidoMaterno">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Perfil</mat-label>
      <mat-select formControlName="perfil" [compareWith]="compararPerfiles">
        <mat-option *ngFor="let p of perfiles" [value]="p">
          {{ p.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="edit-user-dialog-actions">
  <button mat-button (click)="cancelar()" class="btn-cancel">Cancelar</button>
  <button mat-button (click)="guardar()" [disabled]="form.invalid" class="btn-save">Guardar</button>
</div>
